@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  color: #EFEFF3;
  background: linear-gradient(to top right,transparent,#0f0104,#1f0a14),#0f0104;
  position: relative;
}

h1 {
  @apply text-4xl font-bold;
}

/**Remove auto field back ground*/
input:-webkit-autofill {
  transition-delay: 9999s;
  transition-property: background-color;
}

.animation-slide-fade {
  animation: slideFade .4s;
}

@keyframes slideFade {
  from {
    transform: translateY(-22px);
    opacity: 0.4;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

